
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@600&display=swap');

body{
    font-family: 'Noto Sans Display' , 'sans-serif';
}
/*Inicio Header*/
header{
    display: flex;
    width: 221vh;
    height: 150px;
    margin-bottom: 0px;
    background-color:#1C7947;
}
.navHeader{
    display: flex;
    float: left;
    justify-content:left;
}
.buttonNav:hover{
    transition: all 0.6s;
    transform: scale(1.1);
    background-color: #90fac5;
    border-radius: 5px;
}
.carrito{
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 50px;
}
.carrito :hover{
    transition: all 0.6s;
    transform: scale(1.1);
    background-color: #90fac5;
    border-radius: 5px;
}
/*Fin Header*/

/*Inicio Main*/
main{
    width:1349px;
    height: 1800px;
    display: grid;
   /* background-color: #EFB7B7;*/
   background-image:url(./media/FondoMain.jpg);
}
#fondoH1{
    width: 1349px;
    display: flex;
    min-height: 200px;
    padding: 0;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    font-size: 7.5vw;
    font-weight: 700;
    line-height: 0.73em;
}
#fondoH1 >img{
    display: flex;
    position: absolute;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}
h1{
    font-style: italic;
    margin-top: 10px;
}
.fondoSucu{
    width:100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 30%;
    padding-top: 0px;
}
#carrito{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.presentacion{
    text-align: center;
    font-size: 16px;
}
.card{
    width: 200px;
    height: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;
    border-color: #39A388;
    background-color: #EEEEEE;
}
.card:hover {
    transition: all 0.3s;
    transform: scale(1.1);
    box-shadow:-5px 5px 5px #90fac5;
}
.card-img-top{
    width: auto; 
    height: 200px;
}
.btnComprar{
    height: 30px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin :10px auto;
    text-transform: uppercase;
    background-color: rgb(92, 151, 3); 
    border-color: #ab4493; 
    border-style: 3px solid; 
    border-radius: 10px;  
    width: 90%;   
    cursor: pointer;
}
/*Fin Main*/

/*Inicio Footer*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #2C2891;
    padding: 1rem;
    z-index: 3;
}
.iconosFooter{
    width: 25px;
    height: 25px;
}
.p-footer{
    display: inline;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px ;
    margin-bottom: 5px;
}